@media(min-width: 375px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    font-family: 'Karla', sans-serif;
  }
  
  .bg-dark {
    background-color: rgba(0,0,0,0.8);
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    height: 8rem;
  }

  .navbar>.container {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
  }

  #header-name {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    background: linear-gradient(to right, rgb(184, 24, 24), rgb(202, 95, 81), rgb(95, 91, 92));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgb(202, 185, 185);
  }
  #header-name:hover {
    color: rgba(0,0,0,0);
  }
  
  #search-form {
    width: 10rem;
  }
  
  #search {
    width:100%;
    height: 2.25rem;
    border-radius: 6px;
  }
  
  .form-input {
    width: 25rem;
    margin-bottom: 1em;
  }
  
  #new-recipe-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3em;
  }
  
  #typeSelect{
    width: 15rem;
    margin-bottom: 1em;
    text-align: center;
  }
  
  #ingredient-input, #instruction-input {
    text-align: center;
    height: 10rem;
  }

   #categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

  #recipe-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    grid-gap: 1%;
  }

 
  
  .cuisine-type{
    margin: 0.5em;
    transition: 0.3s ease;
    background: linear-gradient(to right, rgb(184, 24, 24), rgb(202, 95, 81), rgb(199, 187, 190));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
  }
  
  .cuisine-type:hover{
    color: rgba(0,0,0,0)
  }
  
  
  #card {
    justify-self: center;
    margin-bottom: 1em;
  }
  
  img {
    width: 250px;
    height: 250px;  
  }
  
  #ingredients, #instructions {
    height: 15rem;
    max-height: 20rem;
    overflow-y: auto;
  }
  
  #ingredient-edit-input {
    width: 15rem;
    padding: 0.5em 0;
    height: 9rem;
    width: 15.8rem;
  }
  
  #contact-name {
    text-align: center;
    margin-top: 2em;
  }
  
  #contact-us {
    font-size: 3.5rem;
  }
  
  .emails {
    font-size: 1.75rem;
  }
  
  @keyframes rainbow {
    0%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: left;}
  }
  
  button.btn.btn-info {
    margin: 0 1em;
    background-color: #f0c578;
    border: none;
    transition: background-color 0.3s;
  }
  
  button.btn.btn-info:hover {
    background-color:rgb(140, 207, 202);
  }
  
  button.btn.btn-success{
    margin: 0 1em;
    font-size: 0.6rem;
    transition: 0.3s ease;
    background-color:rgb(202, 71, 71);
    border: none;
  }
  
  button.btn.btn-success:hover {
    background-color: rgb(49, 179, 99);
  }

  .fa-edit {
   margin-left: 0.5em;
  }
  
  a {
    text-decoration: none;
    }

  #button-container {
    text-align: center;
  }

  #ingredients::-webkit-scrollbar {
    width: 7px;
    height: 25%;
  }
  #ingredients::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(184, 116, 116, 0.719);
}

  #instructions::-webkit-scrollbar {
    width: 7px;
  }
  #instructions::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(184, 116, 116, 0.719);
}
}

@media(min-width: 768px) {
  #recipe-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
  }
  
  button.btn.btn-success {
    font-size: 0.8rem;
  }

  #categories {
    display: flex;
    justify-content: center;
  }

  #contact-us {
    font-size: 4.0rem;
  }
  
  .emails {
    font-size: 2rem;
  }

  nav {
    height: 5rem;
  }

  .navbar>.container {
      flex-direction: row;
  }
}

@media (min-width: 1024px) {
  #recipe-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5%
  }
  
  button.btn.btn-success {
    font-size: 1rem;
  }

  #contact-us {
    font-size: 5rem;
  }
  
  .emails {
    font-size: 3rem;
  }
}


@media (min-width: 1400px){

#recipe-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

#search-form {
    width: 20rem;
  }

.cuisine-type {
    margin: 1em;
  }

  #contact-us {
    font-size: 5rem;
  }
  
  .emails {
    font-size: 3rem;
  }

#header-name {
    font-size: 3rem;
  }
}