#header-name {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
}

#search-form {
  width: 20rem;
}

#search {
  width:100%;
  height: 2.25rem
}

#recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-self: center;
  grid-gap: 4%;
}

#categories {
  display: flex;
  justify-content: center;
}

.cuisine-type{
  margin: 1em;
}

#card {
  justify-self: center;
}

img {
  width: 250px;
  height: 250px;  
}

#ingredients, #instructions {
  height: 15rem;
  max-height: 20rem;
  overflow-y: auto;
}